// Font Family and Font Size

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
$fontFamily: 'Rubik',
sans-serif;
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;

$fontSizeBase: 18px;
$fontSizeLarge: 20px;
$fontSizeSmall: 14px;